.combatant {
    display: inline-grid;
    margin: 0 0.5em 1em;
    max-width: 60px;
}

.combatant img {
    margin: 0 auto 0.25em;
    height: 60px;
    width: 60px;
}

.combatant p {
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
}
